@import "tailwindcss";
@import "@b1nd/dodam-design-system/colors/colors.css";
@import "@b1nd/dodam-design-system/themes/theme.tailwind.css";
@import "@b1nd/dodam-design-system/shapes/tokens.tailwind.css";
@import "@b1nd/dodam-design-system/typography/tokens.tailwind.css";
@import "@b1nd/dodam-design-system/breakpoints/tokens.tailwind.css";

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: url("./shared/assets/fonts/Pretendard-Thin.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: url("./shared/assets/fonts/Pretendard-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: url("./shared/assets/fonts/Pretendard-Light.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: url("./shared/assets/fonts/Pretendard-Regular.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: url("./shared/assets/fonts/Pretendard-Medium.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: url("./shared/assets/fonts/Pretendard-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: url("./shared/assets/fonts/Pretendard-Bold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: url("./shared/assets/fonts/Pretendard-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: url("./shared/assets/fonts/Pretendard-Black.woff") format("woff");
}

* {
  font-family: "Pretendard", sans-serif;
  -webkit-font-smoothing: antialiased;
  word-break: keep-all;
  user-select: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  background-color: var(--dds-color-background-default);
  color: var(--dds-color-text-primary);
}

@layer components {
	.small-container {
		@apply px-5 py-4 bg-background-surface rounded-large;
	}

	.large-container {
		@apply p-6 bg-background-surface rounded-large;
	}

  .skeleton {
    @apply animate-pulse bg-fill-secondary;
  }
}